div {
	display: inline-block;
	position: relative;
}

.toolbar {
	float: right;
	border: 1px solid black;
	height: 100%;
	width: 200px;
}

.toolbarBottom {
	height: 66%;
	width: 100%;
	border: 1px solid black;
	position: absolute;
	bottom: 0;
}

.board {
	padding: 1px 0 0 1px;
	background-image: url("white_board.png");
	height: 508px;
	width: 502px;
}

.corner.tile {
	height: 65px;
	width: 65px;
	border: 1px solid black;
	opacity: .7;
}

.tile {
	height: 66px;
	width: 38.25px;
	border: 1px solid black;
	opacity: .7;
}

.tile.prop {
	height: 50px;
}

.horiz {
	display: block;
	height: 38.25px;
	width: 66px;
}

.horiz.prop {
	width: 50px;
	height: 38.25px;
}

.right.prop {
	margin-left: 18px;
}


.rightCol {
	float: right;
}

.leftCol {
	float: left;
}

.top {
	vertical-align: top;
}

.bottom {
	vertical-align: bottom;
}


.jail {
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
	width: 50px;
	border: 1px solid black;
}