div {
	display: inline-block;
	position: relative;
}

.board {
	padding: 1px 0 0 1px;
	background-image: url("white_board.png");
	height: 508px;
	width: 502px;
}

.corner.tile {
	height: 67px;
	width: 67px;
	border: 1px solid red;
}

.tile {
	height: 68px;
	width: 38px;
	border: 1px solid red;
}

.tile.prop {
	height: 50px;
}

.horiz {
	display: block;
	height: 38px;
	width: 68px;
}

.horiz.prop {
	width: 50px;
	height: 38px;
}

.right.prop {
	margin-left: 18px;
}


.rightCol {
	float: right;
}

.leftCol {
	float: left;
}

.top {
	vertical-align: top;
}

.bottom {
	vertical-align: bottom;
}


.jail {
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
	width: 50px;
	border: 1px solid red;
}