<html lang="en" ng-app="Data-opoly">
<head>
	<title>Data-opoly</title>
	<link rel="stylesheet" href="main.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<script type='text/javascript' src="rawData.js"></script>
	<script type="text/javascript" src="main.js"></script>
</head>

<body ng-controller="primary">

	<div class="toolbar">
		<div class="toolbarTop">
			<button ng-click="routeDisplay('gameTaps')">Game Taps</button>
			<button ng-click="routeDisplay('firstTaps')">First Taps</button>
			<button ng-click="routeDisplay('locByTurn')">Location By Turn</button>
			<button ng-click="routeDisplay('tapped')">Tapped</button>
			<button ng-click="routeDisplay('preds')">Predecessors</button>
			<button ng-click="routeDisplay('succs')">Successors</button>

			<div ng-show="tapSelector">
				<button ng-click="tapUpdate('avg')">Average</button>
				<button ng-click="tapUpdate('stdDev')">Standard Deviation</button>
			</div>

			<span ng-show="turnSelector">Turn: </span><input type="text" inputmode="numeric" maxlength="2" value="0" ng-model="turn" ng-show="turnSelector" ng-change="routeDisplay(mode)" ng-keydown="turnDownForWhat($event)">

		</div>
		<div class="toolbarBottom">
			<p>{{bottomText}}</p>
		</div>
	</div>

	<div class="board">

		<div class="row">
			<div ng-repeat="tile in topRow" class="tile" ng-class="tile.styles" ng-style="tile.color" ng-click="fire(tile.id)"></div>
		</div>

		<div class="leftCol">
			<div ng-repeat="tile in leftCol" class="tile horiz" ng-class="tile.styles" ng-style="tile.color" ng-click="fire(tile.id)"></div>
		</div>
		<h1>DATA-OPOLY!</h1>
		<div class="rightCol">
			<div ng-repeat="tile in rightCol" class="tile horiz" ng-class="tile.styles" ng-style="tile.color" ng-click="fire(tile.id)"></div>
		</div>


		<div class="row bottom">
			<div class="tile corner bottom" ng-class="tiles[10].styles" ng-style="tiles[10].color" ng-click="fire(10)">
				<div class="Jail" style="background-color: white;"></div>
				<div class="Jail" ng-class="tiles[10.5].styles" ng-style="tiles[10.5].color" ng-click="fire(10.5)"></div>
			</div>
			<div ng-repeat="tile in bottomRow" class="tile" ng-class="tile.styles" ng-style="tile.color" ng-click="fire(tile.id)"></div>
		</div>
	</div>


</body>