<html lang="en" ng-app="Data-opoly">
<head>
	<title>Data-opoly</title>
	<link rel="stylesheet" href="main.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script type-'text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<script type="text/javascript" src="main.js"></script>
</head>

<body ng-controller="primary">

	<div class="board">

		<div class="row">
			<div class="corner">20</div>
			<div ng-repeat="tile in topRow" class="tile" ng-class="tile.styles">{{tile.ID}}</div>
			<div class="corner">30</div>
		</div>

		<div class="leftCol">
			<div ng-repeat="tile in leftCol" class="tile horiz" ng-class="tile.styles">{{tile.ID}}</div>
		</div>
		<div class="rightCol">
			<div ng-repeat="tile in rightCol" class="tile horiz" ng-class="tile.styles">{{tile.ID}}</div>
		</div>


		<div class="row">
			<div class="corner">10
				<div class="Jail">Jail</div>
			</div>
			<div ng-repeat="tile in bottomRow" class="tile" ng-class="tile.styles">{{tile.ID}}</div>
			<div class="corner">GO</div>
		</div>
	</div>


</body>