<DOCTYPE html>
<html lang="en" ng-app="Data-opoly">
<head>
	<title>Data-opoly</title>
	<link rel="stylesheet" href="main.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script type-'text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<script type="text/javascript" src="main.js"></script>
</head>

<body>

	<div class="container">
		<!-- background board image -->
		<!-- Top Row -->
		<div class="corner">Free Parking</div>
		<div ng-repeat="tile in topRow" class="tile"></div>
		<div class="corner">Go To Jail</div>
		<!-- Side Rows -->
		<div ng-repeat="tile in leftCol" class="tile"></div>
		<div ng-repeat="tile in rightCol" class="tile rightCol"></div>
		<!-- Bottom Row -->
		<div class="corner">
			Just Visiting
			<div class="Jail">Jail</div>
		</div>
		<div ng-repeat="tile in bottomRow" class="tile"></div>
		<div class="corner">GO</div>
	</div>



<!-- Free Parking, ng-repeat 9 tiles, Go To Jail -->
<!-- ng-repeat 9 tiles south (with formatting to occupy space), ng-repeat 9 tiles south on the right (float right) -->
<!-- Just Visiting (Jail in-laid), 9 tiles horizontal, GO -->

</body>